<!DOCTYPE html>
<html>
  <head>
    <title>Wikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-wagon">
    <!-- Logo -->
    <%=link_to "Wikinimous", articles_path, :class => "navbar-wagon-brand" %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%=link_to "New article", new_article_path, :class => "btn btn-warning" %>
    </div>
    </div>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
